{% extends "modelo.html" %}
{% block projeto %}

<div class="d-flex justify-content-center align-items-center pt-3">
    <h1>Sobre</h1></div>
<div class="d-flex justify-content-center align-items-center pt-3">
    <h1>Equipe de Desenvolvimento</h1>
</div>

<br><br>
<style>
        footer {
            background: #343a40;
            color: white;
            text-align: center;
            padding: 15px;
            border-top: 2px solid #343a40;
            margin-top: 40px;
        }
</style>

<div class="d-flex justify-content-center align-items-center pt-3">
     <div class="membro">
            <h2>Alessandra</h2>
            <p class="funcao">Arquiteto de Informação / Planejamento</p>
            <p>Responsável pelo planejamento da estrutura do site, organização das páginas e definição da arquitetura inicial do projeto.</p>
        </div>

        <div class="membro">
            <h2>Ashilley</h2>
            <p class="funcao">Designer / UI-UX Designer</p>
            <p>Atuou no desenvolvimento do layout, identidade visual e experiência do usuário, garantindo uma navegação clara e agradável.</p>
        </div>

        <div class="membro">
            <h2>Lucas</h2>
            <p class="funcao">Programador / Desenvolvedor Front-End</p>
            <p>Focado na implementação do código, criação das funcionalidades e integração dos componentes principais do site.</p>
        </div>

        <div class="membro">
            <h2>Waldemar Neto</h2>
            <p class="funcao">Programador / Desenvolvedor Front-End</p>
            <p>Auxiliou nos testes, correções, ajustes finais e documentação do projeto.</p>
        </div>

        <div class="membro">
            <h2>Ítalo</h2>
            <p class="funcao">Analista de Testes / QA / Documentação</p>
            <p>Auxiliou nos testes, correções, ajustes finais e documentação do projeto.</p>
        </div>
</div>

<br><br>

<div class="d-flex justify-content-center align-items-center pt-3">
    <h2>Missão do Projeto:</h2></div>
<div class="d-flex justify-content-center align-items-center pt-3">
    Criar um site moderno, objetivo e funcional que traduzisse de forma clara os conceitos aprendidos na disciplina de Lógica de Programação, aplicando boas práticas de desenvolvimento e trabalho em equipe.</div>

<footer>
    &copy; 2025 Projeto Carreiras Tech | Todos os direitos reservados
</footer>

{% endblock %}